# Environment variables
.env
*.env.*
!.env.example

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite database file
*.db
*.sqlite
*.sqlite3
*.db-journal # SQLite journal files

# Virtual environment
venv/
.venv/
env/
.env/
ENV/

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# PEP 582; __pypackages__ directory
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath files
*.sage.py

# Environments
.envrc
.direnv/

protject.xcworkspace
*.xcworkspace
*.xcuserdata
*.xcuserdatad
*.xcuserstate
*.xcscheme
*.pbxproj
